<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBCN" connectionString="SERVER=192.168.0.221;Initial Catalog=dheeraj;User Id=dheeraj;Pwd=ids@12345"></add>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
